<h1><%= @borrower.name %></h1>

<p><%= @borrower.phone %></p>

<%= link_to t(".edit"), edit_borrower_path(@borrower), class: "btn btn--secondary" %>
<%= link_to t(".back"), borrowers_path, class: "btn btn--ghost" %>
